*{
  margin: 0;
  padding: 0;
}

/* Header */
.header{ 
  background: linear-gradient(6deg, rgba(20, 53, 61, 1) 0%, rgba(0, 0, 0, 1) 100%);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header h1{
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 80px;
}

.header span{
  color: rgba(252, 184, 59, 0.884);
}

/* Navbar */
.navbar ul{
  list-style: none;
  display: flex;
  align-items: center;  
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  font-size: 20px;
}

.navbar ul li a:hover{
  color: #38bdf8;
}


.cart{
  color: #fff;
  font-size: 22px;
  margin-right: 80px;
  cursor: pointer;
  margin-right: 61px;
  background-color: rgb(42, 44, 43);
  width: 70px;
  height: 30px;
  align-items: center;
  border-radius: 50px;
}

.cart .fa-solid{
                 font-size: 20px;
                 margin-left: 8px;
                 margin-top: 5px;
               }

.cart .fa-solid span{
                      background-color: orangered;
                      margin-left: 10px;  
                      color: white; 
                      border-radius: 50px;
                    }

    /* banner */

body{
   background: linear-gradient(6deg, rgb(14, 52, 61) 0%, rgba(0, 0, 0, 1) 100%);
}

.banner{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container{
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.left{
  width: 50%;
  color: white;
}

.left h1{
  font-size: 48px;
  margin-bottom: 15px;
}

.left p{
  color: #cbd5e1;
  margin-bottom: 25px;
  line-height: 1.6;
}

.buttons{
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.btn1{
  background: linear-gradient(90deg,#fb923c,#f97316);
  border: none;
  padding: 12px 26px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.btn2{
  background: transparent;
  border: 1px solid #64748b;
  padding: 12px 26px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.para{
  display: flex;
  gap: 40px;
}

.para h3{
  font-size: 22px;
}

.para span{
  font-size: 13px;
  color: #94a3b8;
}


.right{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card{
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #1e293b;
  background: linear-gradient(135deg,#020617,#020617);
  color: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

.blue{
  background: linear-gradient(135deg,#1e3a8a,#020617);
}

.green{
  background: linear-gradient(135deg,#166534,#020617);
}

.tags{
  display: inline-block;
  margin-top: 10px;
  padding: 4px 12px;
  background: #f97316;
  border-radius: 20px;
  font-size: 12px;
}



       /* cards */

